nodered/data/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Publish Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "494c2f7236aa3a08",
        "type": "tab",
        "label": "Subscribe Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e681f45cf6edd760",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "172.10.0.13:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "180f36df41b25787",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://172.10.0.10:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "0f232f6b27593567",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Sensors",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "5454c5cbffa094ee"
            ]
        ]
    },
    {
        "id": "5454c5cbffa094ee",
        "type": "file in",
        "z": "f6f2187d.f17ca8",
        "name": "Sensor data",
        "filename": "/sensor.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "da87f4ed68031abc"
            ]
        ]
    },
    {
        "id": "da87f4ed68031abc",
        "type": "csv",
        "z": "f6f2187d.f17ca8",
        "name": "Reading Data",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "41bf5d1d102b1fb5"
            ]
        ]
    },
    {
        "id": "af0ed5e7e6432db4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "publish oxygen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 360,
        "wires": []
    },
    {
        "id": "bd550aee79e277e1",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "aquarium/oxygen",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e681f45cf6edd760",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "41bf5d1d102b1fb5",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 300,
        "wires": [
            [
                "0604adf5e5078d74"
            ]
        ]
    },
    {
        "id": "4291b9f2b4f0793d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "get_oxygen",
        "func": "// Check if the message contains a property named 'payload' with JSON data\nif (msg.payload) {\n    try {\n        // Parse the JSON payload\n        const rowData = JSON.parse(msg.payload);\n\n        if (rowData[\"Oxygen (mg/L)\"] !== undefined) {\n            const value = rowData[\"Oxygen (mg/L)\"];\n\n            // Update the 'payload' property of the message with the extracted 'Temperature' value\n            msg.payload = value;\n\n            // Send the updated message to the next node in the flow\n            return msg;\n        } else {\n            return { payload: 'The \"temperature\" property is missing in the JSON data.' };\n        }\n    } catch (error) {\n        // If JSON parsing fails, send an error message\n        console.log(msg.payload);\n        return { payload: 'Error parsing JSON data: ' + error.message };\n    }\n} else {\n    // If 'payload' property is not found, send an error message\n    return { payload: 'JSON data not found in the input message.' };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 300,
        "wires": [
            [
                "bd550aee79e277e1",
                "af0ed5e7e6432db4"
            ]
        ]
    },
    {
        "id": "0604adf5e5078d74",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 300,
        "wires": [
            [
                "4291b9f2b4f0793d",
                "ac183c7082b83d7a",
                "ba67c583540126d8",
                "745752a9070b2eac",
                "1d30f8f02389c1b5"
            ]
        ]
    },
    {
        "id": "37885c06bebd6861",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "publish ammonia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 500,
        "wires": []
    },
    {
        "id": "370172a9f2ff6e5c",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "aquarium/ammonia",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e681f45cf6edd760",
        "x": 1250,
        "y": 440,
        "wires": []
    },
    {
        "id": "745752a9070b2eac",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "get_ammonia",
        "func": "// Check if the message contains a property named 'payload' with JSON data\nif (msg.payload) {\n    try {\n        // Parse the JSON payload\n        const rowData = JSON.parse(msg.payload);\n\n        if (rowData[\"Ammonia-Nitrogen (mg/L)\"] !== undefined) {\n            const value = rowData[\"Ammonia-Nitrogen (mg/L)\"];\n\n            // Update the 'payload' property of the message with the extracted 'Temperature' value\n            msg.payload = value;\n\n            // Send the updated message to the next node in the flow\n            return msg;\n        } else {\n            return { payload: 'The \"ammonia\" property is missing in the JSON data.' };\n        }\n    } catch (error) {\n        // If JSON parsing fails, send an error message\n        console.log(msg.payload);\n        return { payload: 'Error parsing JSON data: ' + error.message };\n    }\n} else {\n    // If 'payload' property is not found, send an error message\n    return { payload: 'JSON data not found in the input message.' };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 440,
        "wires": [
            [
                "370172a9f2ff6e5c",
                "37885c06bebd6861"
            ]
        ]
    },
    {
        "id": "6259f2b0cee5f2d7",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "publish water_level",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 640,
        "wires": []
    },
    {
        "id": "fcdf768a6b9ad27f",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "aquarium/water_level",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e681f45cf6edd760",
        "x": 1260,
        "y": 580,
        "wires": []
    },
    {
        "id": "1d30f8f02389c1b5",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "get_water_level",
        "func": "// Check if the message contains a property named 'payload' with JSON data\nif (msg.payload) {\n    try {\n        // Parse the JSON payload\n        const rowData = JSON.parse(msg.payload);\n\n        if (rowData[\"Water_Level (%)\"] !== undefined) {\n            const value = rowData[\"Water_Level (%)\"];\n\n            // Update the 'payload' property of the message with the extracted 'Temperature' value\n            msg.payload = value;\n\n            // Send the updated message to the next node in the flow\n            return msg;\n        } else {\n            return { payload: 'The \"water\" property is missing in the JSON data.' };\n        }\n    } catch (error) {\n        // If JSON parsing fails, send an error message\n        console.log(msg.payload);\n        return { payload: 'Error parsing JSON data: ' + error.message };\n    }\n} else {\n    // If 'payload' property is not found, send an error message\n    return { payload: 'JSON data not found in the input message.' };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 580,
        "wires": [
            [
                "fcdf768a6b9ad27f",
                "6259f2b0cee5f2d7"
            ]
        ]
    },
    {
        "id": "701ab5f9276cb4a1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "publish ph",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 240,
        "wires": []
    },
    {
        "id": "a5f5564cc4787e6f",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "aquarium/ph",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e681f45cf6edd760",
        "x": 1230,
        "y": 180,
        "wires": []
    },
    {
        "id": "ac183c7082b83d7a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "get_ph",
        "func": "// Check if the message contains a property named 'payload' with JSON data\nif (msg.payload) {\n    try {\n        // Parse the JSON payload\n        const rowData = JSON.parse(msg.payload);\n\n        // Check if the 'ph' property exists in the JSON object\n        if (rowData.pH !== undefined) {\n            // Extract the 'ph' value\n            const phValue = rowData.pH;\n\n            // Update the 'payload' property of the message with the extracted 'ph' value\n            msg.payload = phValue;\n\n            // Send the updated message to the next node in the flow\n            return msg;\n        } else {\n            // If 'ph' property is not found, send an error message\n            return { payload: 'The \"ph\" property is missing in the JSON data.' };\n        }\n    } catch (error) {\n        // If JSON parsing fails, send an error message\n        console.log(msg.payload);\n        return { payload: 'Error parsing JSON data: ' + error.message };\n    }\n} else {\n    // If 'payload' property is not found, send an error message\n    return { payload: 'JSON data not found in the input message.' };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 180,
        "wires": [
            [
                "a5f5564cc4787e6f",
                "701ab5f9276cb4a1"
            ]
        ]
    },
    {
        "id": "44eb01cc5ee8dc2b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "publish temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 120,
        "wires": []
    },
    {
        "id": "9e1a8fced56a06a9",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "aquarium/temperature",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e681f45cf6edd760",
        "x": 1260,
        "y": 60,
        "wires": []
    },
    {
        "id": "ba67c583540126d8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "get_temperature",
        "func": "// Check if the message contains a property named 'payload' with JSON data\nif (msg.payload) {\n    try {\n        // Parse the JSON payload\n        const rowData = JSON.parse(msg.payload);\n\n        if (rowData[\"Temperature (°C)\"] !== undefined) {\n            const temperatureValue = rowData[\"Temperature (°C)\"];\n\n            // Update the 'payload' property of the message with the extracted 'Temperature' value\n            msg.payload = temperatureValue;\n\n            // Send the updated message to the next node in the flow\n            return msg;\n        } else {\n            return { payload: 'The \"temperature\" property is missing in the JSON data.' };\n        }\n    } catch (error) {\n        // If JSON parsing fails, send an error message\n        console.log(msg.payload);\n        return { payload: 'Error parsing JSON data: ' + error.message };\n    }\n} else {\n    // If 'payload' property is not found, send an error message\n    return { payload: 'JSON data not found in the input message.' };\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 60,
        "wires": [
            [
                "9e1a8fced56a06a9",
                "44eb01cc5ee8dc2b"
            ]
        ]
    },
    {
        "id": "b8393f1e2c78411c",
        "type": "mqtt in",
        "z": "494c2f7236aa3a08",
        "name": "",
        "topic": "aquarium/ph",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e681f45cf6edd760",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "ac997bca016276ec",
                "3fc203ec33d11c54"
            ]
        ]
    },
    {
        "id": "ac997bca016276ec",
        "type": "debug",
        "z": "494c2f7236aa3a08",
        "name": "subscribe ph",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 60,
        "wires": []
    },
    {
        "id": "3fc203ec33d11c54",
        "type": "influxdb out",
        "z": "494c2f7236aa3a08",
        "influxdb": "180f36df41b25787",
        "name": "influxdb ph",
        "measurement": "ph",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aqua-org",
        "bucket": "aqua-bucket",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "044695a11ee88bfe",
        "type": "mqtt in",
        "z": "494c2f7236aa3a08",
        "name": "",
        "topic": "aquarium/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e681f45cf6edd760",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "c951ee3a12a5f49c",
                "0b10dd1205a2d122"
            ]
        ]
    },
    {
        "id": "c951ee3a12a5f49c",
        "type": "debug",
        "z": "494c2f7236aa3a08",
        "name": "subscribe temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "0b10dd1205a2d122",
        "type": "influxdb out",
        "z": "494c2f7236aa3a08",
        "influxdb": "180f36df41b25787",
        "name": "influxdb temperature",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aqua-org",
        "bucket": "aqua-bucket",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "584471c71208bfdd",
        "type": "mqtt in",
        "z": "494c2f7236aa3a08",
        "name": "",
        "topic": "aquarium/oxygen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e681f45cf6edd760",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "3f249bd44942d216",
                "4e72bb71fa812ab9"
            ]
        ]
    },
    {
        "id": "3f249bd44942d216",
        "type": "debug",
        "z": "494c2f7236aa3a08",
        "name": "subscribe oxygen",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "4e72bb71fa812ab9",
        "type": "influxdb out",
        "z": "494c2f7236aa3a08",
        "influxdb": "180f36df41b25787",
        "name": "influxdb oxygen",
        "measurement": "oxygen",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aqua-org",
        "bucket": "aqua-bucket",
        "x": 500,
        "y": 400,
        "wires": []
    },
    {
        "id": "9be6c2a806dccbdb",
        "type": "mqtt in",
        "z": "494c2f7236aa3a08",
        "name": "",
        "topic": "aquarium/ammonia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e681f45cf6edd760",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "da49202186adb3d6",
                "6bd0cb185b24d065"
            ]
        ]
    },
    {
        "id": "da49202186adb3d6",
        "type": "debug",
        "z": "494c2f7236aa3a08",
        "name": "subscribe ammonia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "6bd0cb185b24d065",
        "type": "influxdb out",
        "z": "494c2f7236aa3a08",
        "influxdb": "180f36df41b25787",
        "name": "influxdb ammonia",
        "measurement": "ammonia",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aqua-org",
        "bucket": "aqua-bucket",
        "x": 530,
        "y": 560,
        "wires": []
    },
    {
        "id": "e11eded67462b13e",
        "type": "mqtt in",
        "z": "494c2f7236aa3a08",
        "name": "",
        "topic": "aquarium/water_level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e681f45cf6edd760",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "cd8b402f25ab1c92",
                "1770ede814eb4f8d"
            ]
        ]
    },
    {
        "id": "cd8b402f25ab1c92",
        "type": "debug",
        "z": "494c2f7236aa3a08",
        "name": "subscribe water_level",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 640,
        "wires": []
    },
    {
        "id": "1770ede814eb4f8d",
        "type": "influxdb out",
        "z": "494c2f7236aa3a08",
        "influxdb": "180f36df41b25787",
        "name": "influxdb water_level",
        "measurement": "water_level",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "aqua-org",
        "bucket": "aqua-bucket",
        "x": 540,
        "y": 700,
        "wires": []
    }
]